<!DOCTYPE html>
<html lang="en">

{% include "./partials/head.html" %}

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
{% include "./partials/header.html" %}
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container"
     style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./static/assets/images/space.jpg'); filter:grayscale(1);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>
                <span id="typed-strings">
                  <span>Greetings!</span>
                  <span>My given name is Andrei</span>
                  <span>I am Web Developer,</span>
                  <span>Software Engineer,</span>
                  <span>Web/Software Project Manager,</span>
                  <span>Database Developer...</span>
                  <!-- <span>Network Engineer,</span>
                  <span>Singer/Composer,</span>
                  <span>Tennis Player/Coach</span>
                  <span>5 times Overall World Champion in High Speed Telegraphy</span>
                  <span>Guinness World Record Holder</span> -->
                  <span>And I'm ready to get hired</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>